@model FYP.Models.user

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding: 50px;">
    Username: @Model.email

    <a href='@Url.Action("Logout", "Home")'>Logout</a>
</div>